## Imports

In [142]:
import pandas as pd
import numpy as np
from itertools import combinations

# Exploring data

In [1]:
data_file = 'tdt05-2021-challenge-2/challenge2_train.csv'

In [3]:
df = pd.read_csv(data_file)

In [130]:
df['f28'].value_counts(dropna=False)

NaN        13112
13.5545       39
13.5543       34
13.5546       32
13.5542       32
           ...
13.8178        1
14.4500        1
14.2980        1
14.2455        1
13.6223        1
Name: f28, Length: 8061, dtype: int64

In [125]:
nda = df['f26'].dropna().unique()
np.sort(nda)

array(['N', 'S'], dtype=object)

In [62]:
cols = df.columns.drop(nondrop).to_list()

In [71]:
df.dropna()

,id,target,f0,f1,f2,f3,f4,f5,f6,f7,...,f19,f20,f21,f22,f23,f24,f25,f26,f27,f28
4,4,0,1.0,pE,c,3.0,A,7.0,0.0,6.0,...,0.5,0.0,1.0,B,587e040bd,-1.000000,T,N,1.0,13.9537
10,10,0,0.0,XM,e,3.0,B,11.0,0.0,1.0,...,0.5,0.0,5.0,G,1f5e6e200,1.022864,F,S,1.0,13.9805
21,21,0,1.0,aA,b,3.0,A,6.0,0.0,6.0,...,0.6,0.0,1.0,G,614fcd66d,-1.000000,T,N,1.0,13.9462
22,22,0,0.0,DN,b,1.0,A,11.0,0.0,4.0,...,0.1,1.0,7.0,G,feea951a9,1.283063,T,N,3.0,13.9489
24,24,0,1.0,eN,c,2.0,A,6.0,1.0,4.0,...,0.6,1.0,6.0,R,f24cc9fe2,1.134681,F,N,3.0,13.9680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49971,49971,0,1.0,Kq,e,2.0,A,11.0,1.0,5.0,...,0.1,11.0,5.0,R,73829c045,1.133578,T,N,2.0,13.8548
49975,49975,0,1.0,gj,f,2.0,A,6.0,1.0,5.0,...,0.4,0.0,3.0,R,b489e424f,1.260208,T,S,1.0,13.7321
49981,49981,0,0.0,zp,a,1.0,A,11.0,0.0,6.0,...,0.5,10.0,3.0,G,7f2775330,-1.000000,T,N,4.0,14.0500
49993,49993,0,1.0,OZ,d,2.0,B,7.0,1.0,6.0,...,0.4,0.0,5.0,R,81a17716c,0.902081,T,S,1.0,13.9539
49998,49998,0,0.0,Bx,a,1.0,A,7.0,1.0,4.0,...,0.4,0.0,3.0,R,0dcf409af,0.842615,T,S,1.0,14.3062

In [178]:
datadf = df.drop(['id', 'f8', 'f11', 'f12', 'f14', 'f15', 'f17', 'f23', 'f24', 'f28'], axis=1)
datadf

,target,f0,f1,f2,f3,f4,f5,f6,f7,f9,...,f13,f16,f18,f19,f20,f21,f22,f25,f26,f27
0,0,1.0,gL,e,3.0,A,NaN,0.0,6.0,yellow,...,h,2.0,F,0.5,0.0,3.0,R,T,N,1.0
1,0,0.0,Rj,c,1.0,A,7.0,1.0,4.0,green,...,g,NaN,F,0.4,0.0,1.0,NaN,T,N,1.0
2,0,NaN,In,a,1.0,A,10.0,1.0,6.0,white,...,c,3.0,C,0.5,1.0,3.0,G,T,N,3.0
3,1,1.0,rA,c,3.0,A,7.0,1.0,1.0,yellow,...,c,5.0,D,0.6,1.0,1.0,G,T,N,3.0
4,0,1.0,pE,c,3.0,A,7.0,0.0,6.0,yellow,...,a,2.0,D,0.5,0.0,1.0,B,T,N,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1,0.0,tT,d,3.0,NaN,11.0,0.0,1.0,white,...,i,2.0,E,0.6,1.0,1.0,R,T,N,3.0
49996,0,1.0,pB,b,2.0,A,7.0,0.0,6.0,green,...,e,8.0,A,0.1,0.0,7.0,R,T,N,1.0
49997,0,0.0,TL,e,1.0,A,11.0,0.0,6.0,white,...,a,5.0,E,NaN,0.0,7.0,G,T,N,1.0
49998,0,0.0,Bx,a,1.0,A,7.0,1.0,4.0,green,...,a,5.0,A,0.4,0.0,3.0,R,T,S,1.0
49999,0,0.0,Pw,f,1.0,A,10.0,0.0,6.0,yellow,...,n,1.0,E,NaN,1.0,5.0,G,F,N,3.0

In [196]:
datadf[col1].unique()

array(['N', 'S', nan], dtype=object)

In [198]:
cols = datadf.columns.tolist()
i = 0
f = open("cooccurrances5.md", mode='wt')
old_prem_col = None

datadf.fillna('missing', inplace=True)

for col1, col2 in combinations(cols, 2):
    if old_prem_col != col1:
        f.write(f'\n\n|---------------{col1}------------------|\n\n')
        old_prem_col = col1
        print(col1)
    if len(datadf[col1].unique()) >= len(datadf[col2].unique()):
        ind = col1
        ccc = col2
    else:
        ind = col2
        ccc = col1
    cooc_df = pd.crosstab(datadf[ind], datadf[ccc], normalize="index", dropna=False)
    if col1 == 'target':
        cooc_df.sort_values(by=0, ascending=False, inplace=True)
    else:
        cooc_df.drop('missing', axis=1, inplace=True)
    cooc_df.to_markdown(buf=f)
    
    f.write('\n\n|--------------------------------------------|\n\n')
f.close()

target
f0
f1
f2
f3
f4
f5
f6
f7
f9
f10
f13
f16
f18
f19
f20
f21
f22
f25
f26